/****** Object:  Database [BenchLabDB]    Script Date: 02/02/2014 14:52:03 ******/
CREATE DATABASE [BenchLabDB] ON  PRIMARY 
( NAME = N'BenchLabDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\BenchLabDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BenchLabDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\BenchLabDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BenchLabDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[TBL_PATIENT]    Script Date: 02/02/2014 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PATIENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nvarchar](max) NOT NULL,
	[MIDDLE_NAME] [nvarchar](max) NULL,
	[LASTNAME] [nvarchar](max) NOT NULL,
	[AGE] [int] NOT NULL,
	[GENDER] [int] NOT NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[CONTACTNR] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[IsSelected] [bit] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [nvarchar](max) NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [nvarchar](max) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TBL_PATIENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_PATIENT] ON
INSERT [dbo].[TBL_PATIENT] ([ID], [FIRSTNAME], [MIDDLE_NAME], [LASTNAME], [AGE], [GENDER], [ADDRESS], [CONTACTNR], [EMAIL], [IsSelected], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (1, N'Samyukta', NULL, N'Rupakheti', 30, 0, N'Hanumansthan, Anamnagar', N'9841327503', N'mail.samyukta@gmail.com', 0, CAST(0x0000A2A400FB83BC AS DateTime), N'Admin', CAST(0x0000A2A400FB83BC AS DateTime), N'Admin', 1)
SET IDENTITY_INSERT [dbo].[TBL_PATIENT] OFF
/****** Object:  Table [dbo].[TBL_LABTEST_UNIT]    Script Date: 02/02/2014 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LABTEST_UNIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UNITNAME] [nvarchar](50) NOT NULL,
	[UNITDESCRIPTION] [nvarchar](max) NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [nvarchar](max) NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [nvarchar](max) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TBL_LABTEST_UNIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_LABTEST_UNIT] ON
INSERT [dbo].[TBL_LABTEST_UNIT] ([ID], [UNITNAME], [UNITDESCRIPTION], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (2, N'%', N'Percentage', CAST(0x0000A2A100D09C1C AS DateTime), N'Admin', CAST(0x0000A2A100D09C1C AS DateTime), N'Admin', 1)
INSERT [dbo].[TBL_LABTEST_UNIT] ([ID], [UNITNAME], [UNITDESCRIPTION], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (4, N'gm%', N'Gram percentage', CAST(0x0000A2A100D0BE06 AS DateTime), N'Admin', CAST(0x0000A2A100D0BE06 AS DateTime), N'Admin', 1)
INSERT [dbo].[TBL_LABTEST_UNIT] ([ID], [UNITNAME], [UNITDESCRIPTION], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (6, N'Sec.', N'', CAST(0x0000A2A100D1F132 AS DateTime), N'Admin', CAST(0x0000A2A100D1F132 AS DateTime), N'Admin', 1)
SET IDENTITY_INSERT [dbo].[TBL_LABTEST_UNIT] OFF
/****** Object:  Table [dbo].[TBL_LABTEST_CATEGORY]    Script Date: 02/02/2014 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LABTEST_CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABTESTCATEGORYNAME] [nvarchar](max) NULL,
	[PARENTCATEGORYID] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [nvarchar](max) NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [nvarchar](max) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TBL_LABTEST_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_LABTEST_CATEGORY] ON
INSERT [dbo].[TBL_LABTEST_CATEGORY] ([ID], [LABTESTCATEGORYNAME], [PARENTCATEGORYID], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (1, N'Heamatology', 0, CAST(0x0000A28A00000000 AS DateTime), N'Bikash', CAST(0x0000A28A00000000 AS DateTime), N'Bikash', 1)
INSERT [dbo].[TBL_LABTEST_CATEGORY] ([ID], [LABTESTCATEGORYNAME], [PARENTCATEGORYID], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (2, N'BioChemistry', 0, CAST(0x0000A2A000DA0455 AS DateTime), N'Admin', CAST(0x0000A2A000DA0455 AS DateTime), N'Admin', 1)
INSERT [dbo].[TBL_LABTEST_CATEGORY] ([ID], [LABTESTCATEGORYNAME], [PARENTCATEGORYID], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (3, N'Serology', 0, CAST(0x0000A2A000DDEA60 AS DateTime), N'Admin', CAST(0x0000A2A000DDEA60 AS DateTime), N'Admin', 1)
SET IDENTITY_INSERT [dbo].[TBL_LABTEST_CATEGORY] OFF
/****** Object:  Table [dbo].[TBL_USER_LOGIN]    Script Date: 02/02/2014 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USER_LOGIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_NAME] [varchar](50) NOT NULL,
	[LOGIN_PASSWORD] [varchar](50) NOT NULL,
	[USERID] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [varchar](50) NOT NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
	[IS_ADMIN] [bit] NULL,
 CONSTRAINT [PK_TBL_USER_LOGIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_USER_LOGIN] ON
INSERT [dbo].[TBL_USER_LOGIN] ([ID], [LOGIN_NAME], [LOGIN_PASSWORD], [USERID], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS], [IS_ADMIN]) VALUES (1, N'bikash', N'bikash', 1, CAST(0x0000A28A00000000 AS DateTime), N'bikash', CAST(0x0000A28A00000000 AS DateTime), N'Bikash', 1, 1)
SET IDENTITY_INSERT [dbo].[TBL_USER_LOGIN] OFF
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 02/02/2014 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](50) NOT NULL,
	[MIDDLENAME] [varchar](50) NOT NULL,
	[LASTNAME] [varchar](50) NOT NULL,
	[AGE] [int] NOT NULL,
	[GENDER] [tinyint] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [varchar](50) NOT NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_TBL_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_USER] ON
INSERT [dbo].[TBL_USER] ([ID], [FIRSTNAME], [MIDDLENAME], [LASTNAME], [AGE], [GENDER], [EMAIL], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (1, N'Bikash', N'Singh', N'Maharjan', 31, 1, N'bikash.singh.maharjan@gmail.com', CAST(0x0000A28A00000000 AS DateTime), N'Bikash', CAST(0x0000A28A00000000 AS DateTime), N'Bikash', 1)
SET IDENTITY_INSERT [dbo].[TBL_USER] OFF
/****** Object:  Table [dbo].[TBL_PATIENT_TESTREPORT]    Script Date: 02/02/2014 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PATIENT_TESTREPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SN] [int] NOT NULL,
	[REPORTDATEEN] [datetime] NOT NULL,
	[REPORTDATENP] [nvarchar](max) NOT NULL,
	[TECHNICIANNAME] [nvarchar](max) NULL,
	[CONSULTANTNAME] [nvarchar](max) NULL,
	[LABNR] [nvarchar](max) NULL,
	[PATIENTREF_ID] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [nvarchar](max) NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [nvarchar](max) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TBL_PATIENT_TESTREPORT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PATIENTREF_ID] ON [dbo].[TBL_PATIENT_TESTREPORT] 
(
	[PATIENTREF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_PATIENT_TESTREPORT] ON
INSERT [dbo].[TBL_PATIENT_TESTREPORT] ([ID], [SN], [REPORTDATEEN], [REPORTDATENP], [TECHNICIANNAME], [CONSULTANTNAME], [LABNR], [PATIENTREF_ID], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (4, 12, CAST(0x0000A2AC00D95481 AS DateTime), N'2070-12-12', N'Ramesh', NULL, NULL, 1, CAST(0x0000A2AC00D95481 AS DateTime), N'Admin', CAST(0x0000A2AC00D95481 AS DateTime), N'Admin', 1)
SET IDENTITY_INSERT [dbo].[TBL_PATIENT_TESTREPORT] OFF
/****** Object:  Table [dbo].[TBL_LABTEST]    Script Date: 02/02/2014 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LABTEST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TESTNAME] [nvarchar](max) NULL,
	[MINSTDGENERAL] [decimal](18, 2) NULL,
	[MAXSTDGENERAL] [decimal](18, 2) NULL,
	[MINSTDMALE] [decimal](18, 2) NULL,
	[MAXSTDMALE] [decimal](18, 2) NULL,
	[MINSTDFEMALE] [decimal](18, 2) NULL,
	[MAXSTDFEMALE] [decimal](18, 2) NULL,
	[LABTESTCATEGORYREF_ID] [int] NOT NULL,
	[LABTESTUNITREF_ID] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [nvarchar](max) NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [nvarchar](max) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TBL_LABTEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LABTESTCATEGORYREF_ID] ON [dbo].[TBL_LABTEST] 
(
	[LABTESTCATEGORYREF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LABTESTUNITREF_ID] ON [dbo].[TBL_LABTEST] 
(
	[LABTESTUNITREF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_LABTEST] ON
INSERT [dbo].[TBL_LABTEST] ([ID], [TESTNAME], [MINSTDGENERAL], [MAXSTDGENERAL], [MINSTDMALE], [MAXSTDMALE], [MINSTDFEMALE], [MAXSTDFEMALE], [LABTESTCATEGORYREF_ID], [LABTESTUNITREF_ID], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (1, N'Hb', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(13.00 AS Decimal(18, 2)), CAST(18.00 AS Decimal(18, 2)), CAST(11.00 AS Decimal(18, 2)), CAST(16.00 AS Decimal(18, 2)), 1, 4, CAST(0x0000A2A100DC47B7 AS DateTime), N'Admin', CAST(0x0000A2A100DC47B7 AS DateTime), N'Admin', 1)
INSERT [dbo].[TBL_LABTEST] ([ID], [TESTNAME], [MINSTDGENERAL], [MAXSTDGENERAL], [MINSTDMALE], [MAXSTDMALE], [MINSTDFEMALE], [MAXSTDFEMALE], [LABTESTCATEGORYREF_ID], [LABTESTUNITREF_ID], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (2, N'PCV', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(40.00 AS Decimal(18, 2)), CAST(54.00 AS Decimal(18, 2)), CAST(36.00 AS Decimal(18, 2)), CAST(46.00 AS Decimal(18, 2)), 1, 2, CAST(0x0000A2A100DC5813 AS DateTime), N'Admin', CAST(0x0000A2A100DC5813 AS DateTime), N'Admin', 1)
INSERT [dbo].[TBL_LABTEST] ([ID], [TESTNAME], [MINSTDGENERAL], [MAXSTDGENERAL], [MINSTDMALE], [MAXSTDMALE], [MINSTDFEMALE], [MAXSTDFEMALE], [LABTESTCATEGORYREF_ID], [LABTESTUNITREF_ID], [LASTCHANGEDATETIMEUTC], [LASTCHANGEUSER], [CREATIONDATETIMEUTC], [CREATIONUSER], [STATUS]) VALUES (3, N'Bilrubin (Total)', NULL, CAST(21.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, 13, 7, CAST(0x0000A2A2013E776C AS DateTime), N'Admin', CAST(0x0000A2A2013E776C AS DateTime), N'Admin', 1)
SET IDENTITY_INSERT [dbo].[TBL_LABTEST] OFF
/****** Object:  Table [dbo].[TBL_LABTEST_REPORT]    Script Date: 02/02/2014 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LABTEST_REPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REPORTDESCRIPTION] [nvarchar](max) NULL,
	[PATIENTTESTREPORTREF_ID] [int] NOT NULL,
	[LABTESTREF_ID] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [nvarchar](max) NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [nvarchar](max) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TBL_LABTEST_REPORT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LABTESTREF_ID] ON [dbo].[TBL_LABTEST_REPORT] 
(
	[LABTESTREF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PATIENTTESTREPORTREF_ID] ON [dbo].[TBL_LABTEST_REPORT] 
(
	[PATIENTTESTREPORTREF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.TBL_PATIENT_TESTREPORT_dbo.TBL_PATIENT_PATIENTREF_ID]    Script Date: 02/02/2014 14:52:05 ******/
ALTER TABLE [dbo].[TBL_PATIENT_TESTREPORT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBL_PATIENT_TESTREPORT_dbo.TBL_PATIENT_PATIENTREF_ID] FOREIGN KEY([PATIENTREF_ID])
REFERENCES [dbo].[TBL_PATIENT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_PATIENT_TESTREPORT] CHECK CONSTRAINT [FK_dbo.TBL_PATIENT_TESTREPORT_dbo.TBL_PATIENT_PATIENTREF_ID]
GO
/****** Object:  ForeignKey [FK_dbo.TBL_LABTEST_dbo.TBL_LABTEST_CATEGORY_LABTESTCATEGORYREF_ID]    Script Date: 02/02/2014 14:52:05 ******/
ALTER TABLE [dbo].[TBL_LABTEST]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBL_LABTEST_dbo.TBL_LABTEST_CATEGORY_LABTESTCATEGORYREF_ID] FOREIGN KEY([LABTESTCATEGORYREF_ID])
REFERENCES [dbo].[TBL_LABTEST_CATEGORY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_LABTEST] CHECK CONSTRAINT [FK_dbo.TBL_LABTEST_dbo.TBL_LABTEST_CATEGORY_LABTESTCATEGORYREF_ID]
GO
/****** Object:  ForeignKey [FK_dbo.TBL_LABTEST_dbo.TBL_LABTEST_UNIT_LABTESTUNITREF_ID]    Script Date: 02/02/2014 14:52:05 ******/
ALTER TABLE [dbo].[TBL_LABTEST]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBL_LABTEST_dbo.TBL_LABTEST_UNIT_LABTESTUNITREF_ID] FOREIGN KEY([LABTESTUNITREF_ID])
REFERENCES [dbo].[TBL_LABTEST_UNIT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_LABTEST] CHECK CONSTRAINT [FK_dbo.TBL_LABTEST_dbo.TBL_LABTEST_UNIT_LABTESTUNITREF_ID]
GO
/****** Object:  ForeignKey [FK_dbo.TBL_LABTEST_REPORT_dbo.TBL_LABTEST_LABTESTREF_ID]    Script Date: 02/02/2014 14:52:05 ******/
ALTER TABLE [dbo].[TBL_LABTEST_REPORT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBL_LABTEST_REPORT_dbo.TBL_LABTEST_LABTESTREF_ID] FOREIGN KEY([LABTESTREF_ID])
REFERENCES [dbo].[TBL_LABTEST] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_LABTEST_REPORT] CHECK CONSTRAINT [FK_dbo.TBL_LABTEST_REPORT_dbo.TBL_LABTEST_LABTESTREF_ID]
GO
/****** Object:  ForeignKey [FK_dbo.TBL_LABTEST_REPORT_dbo.TBL_PATIENT_TESTREPORT_PATIENTTESTREPORTREF_ID]    Script Date: 02/02/2014 14:52:05 ******/
ALTER TABLE [dbo].[TBL_LABTEST_REPORT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBL_LABTEST_REPORT_dbo.TBL_PATIENT_TESTREPORT_PATIENTTESTREPORTREF_ID] FOREIGN KEY([PATIENTTESTREPORTREF_ID])
REFERENCES [dbo].[TBL_PATIENT_TESTREPORT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_LABTEST_REPORT] CHECK CONSTRAINT [FK_dbo.TBL_LABTEST_REPORT_dbo.TBL_PATIENT_TESTREPORT_PATIENTTESTREPORTREF_ID]
GO
